<div class="gallery">
    <h2>Galería de Mascotas</h2>
    <div class="gallery-row">
      <div class="gallery-item">
        <img src="/src/assets/pet-1.jpg" alt="Mascota 1">
      </div>
      <div class="gallery-item">
        <img src="/src/assets/pet-2.jpeg" alt="Mascota 2">
      </div>
      <div class="gallery-item">
        <img src="/src/assets/pet-3.jpg" alt="Mascota 3">
      </div>
      <div class="gallery-item">
        <img src="/src/assets/pet-4.jpg" alt="Mascota 4">
      </div>
    </div>
    <div class="gallery-row">
      <div class="gallery-item">
        <img src="/src/assets/pet-5.jpg" alt="Mascota 5">
      </div>
      <div class="gallery-item">
        <img src="/src/assets/pet-6.jpg" alt="Mascota 6">
      </div>
      <div class="gallery-item">
        <img src="/src/assets/pet-7.jpg" alt="Mascota 7">
      </div>
      <div class="gallery-item">
        <img src="/src/assets/pet-8.jpg" alt="Mascota 8">
      </div>
    </div>
  </div>
  